@import url("https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Elms Sans", sans-serif;
  background-color: #fff9f5;
}

#sec4 .trabajos .a a img, #sec4 .trabajos .b a img, #sec4 .trabajos .c a img, #sec4 .trabajos .d a img, #sec4 .trabajos .e a img, #sec4 .trabajos .f a img, #sec4 .trabajos .g a img, #sec4 .trabajos .h a img {
  width: 390px;
  height: 270px;
  transition-duration: 0.5s;
}
#sec4 .trabajos .a a :hover, #sec4 .trabajos .b a :hover, #sec4 .trabajos .c a :hover, #sec4 .trabajos .d a :hover, #sec4 .trabajos .e a :hover, #sec4 .trabajos .f a :hover, #sec4 .trabajos .g a :hover, #sec4 .trabajos .h a :hover {
  transform: scale(1.1);
}
#sec4 .trabajos .a h3, #sec4 .trabajos .b h3, #sec4 .trabajos .c h3, #sec4 .trabajos .d h3, #sec4 .trabajos .e h3, #sec4 .trabajos .f h3, #sec4 .trabajos .g h3, #sec4 .trabajos .h h3 {
  color: black;
  text-align: center;
}

.header {
  display: flex;
  flex-direction: none;
  justify-content: space-between;
  align-items: center;
  padding: 0px 150px;
  height: 5vh;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #fff9f5;
}
.header .menu .btn-primary {
  background-color: #fff9f5;
  border: none;
}
.header .menu .btn-primary img {
  width: 25px;
  height: 25px;
}
.header .menu .offcanvas .offcanvas-body ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  list-style: none;
  margin: 0;
  padding-left: 30px;
}
.header .menu .offcanvas .offcanvas-body ul li {
  padding-top: 15px;
  transition-duration: 0.5s;
}
.header .menu .offcanvas .offcanvas-body ul li:hover {
  transform: scale(1.1);
}
.header .menu .offcanvas .offcanvas-body ul li a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.582);
  font-size: 25px;
  font-weight: 600;
  transition-duration: 0.5s;
}
.header .menu .offcanvas .offcanvas-body ul li a:hover {
  color: black;
}
.header .logo {
  font-size: 24px;
  font-weight: 600;
  color: black;
  text-decoration: none;
  transition-duration: 0.5s;
}
.header .logo:hover {
  transform: scale(1.1);
}
@media (min-width: 431px) and (max-width: 800px) {
  .header .logo {
    font-size: 18px;
  }
}
@media (min-width: 320px) and (max-width: 430px) {
  .header .logo {
    font-size: 15px;
  }
}
@media (min-width: 431px) and (max-width: 800px) {
  .header {
    padding: 10px;
  }
  .header .menu .offcanvas {
    width: 270px;
  }
  .header .menu .offcanvas .offcanvas-body ul {
    padding-left: 10px;
  }
  .header .menu .offcanvas .offcanvas-body ul li a {
    font-size: 17px;
  }
}
@media (min-width: 320px) and (max-width: 430px) {
  .header {
    padding: 10px;
  }
  .header .menu .offcanvas {
    width: 250px;
  }
  .header .menu .offcanvas .offcanvas-body ul {
    padding-left: 10px;
  }
  .header .menu .offcanvas .offcanvas-body ul li a {
    font-size: 17px;
  }
}

.footer {
  height: 10vh;
  display: flex;
  flex-direction: none;
  justify-content: center;
  align-items: center;
}
.footer h2 {
  color: black;
  font-size: 25px;
  font-weight: normal;
}
@media (min-width: 431px) and (max-width: 800px) {
  .footer h2 {
    font-size: 15px;
    margin: 0;
  }
}
@media (min-width: 320px) and (max-width: 430px) {
  .footer h2 {
    font-size: 11px;
    margin: 0;
  }
}

.sec1 {
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sec1 h1 {
  color: black;
  font-size: 300px;
  font-weight: 500;
  position: relative;
}
.sec1 h2 {
  font-family: "Playwrite CU";
  font-size: 40px;
  font-weight: 200;
  position: absolute;
  bottom: 230px;
  right: 290px;
}
@media (min-width: 431px) and (max-width: 800px) {
  .sec1 h1 {
    font-size: 100px;
    position: relative;
    margin: 0;
  }
  .sec1 h2 {
    font-size: 20px;
    position: absolute;
    bottom: 335px;
    right: 10px;
    margin: 0;
  }
}
@media (min-width: 320px) and (max-width: 430px) {
  .sec1 h1 {
    font-size: 70px;
    position: relative;
    margin: 0;
  }
  .sec1 h2 {
    font-size: 15px;
    position: absolute;
    bottom: 340px;
    right: 10px;
    margin: 0;
  }
}

#sec2 {
  display: flex;
  flex-direction: none;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}
#sec2 img {
  filter: grayscale(25%);
  border-radius: 20px;
  width: 530px;
  height: 700px;
}
#sec2 div {
  width: 50%;
}
#sec2 div h2 {
  color: black;
  font-size: 80px;
  font-weight: 500;
}
#sec2 div p {
  color: black;
  font-size: 35px;
  font-weight: 200;
}
@media (min-width: 431px) and (max-width: 800px) {
  #sec2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #sec2 img {
    width: 300px;
    height: 400px;
  }
  #sec2 div {
    padding-top: 20px;
    width: 90%;
  }
  #sec2 div h2 {
    font-size: 30px;
    font-weight: 700;
    margin: 0;
  }
  #sec2 div p {
    padding-top: 10px;
    font-size: 16px;
    margin: 0;
  }
}
@media (min-width: 320px) and (max-width: 430px) {
  #sec2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #sec2 img {
    width: 300px;
    height: 400px;
  }
  #sec2 div {
    padding-top: 20px;
    width: 90%;
  }
  #sec2 div h2 {
    font-size: 30px;
    font-weight: 700;
    margin: 0;
  }
  #sec2 div p {
    padding-top: 5px;
    font-size: 16px;
    margin: 0;
  }
}

#sec3 {
  display: flex;
  flex-direction: none;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#sec3 .contenedor {
  display: flex;
  flex-direction: none;
  justify-content: center;
  align-items: none;
  flex-wrap: wrap;
  gap: 40px;
}
#sec3 .contenedor .divs {
  width: 40%;
}
#sec3 .contenedor .divs h2 {
  color: black;
  font-size: 60px;
  font-weight: 800;
}
#sec3 .contenedor .divs p {
  color: black;
  font-size: 25px;
}
#sec3 .contenedor .divs .accordion .accordion-item {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.253);
  margin-top: 10px;
}
#sec3 .contenedor .divs .accordion .accordion-item .accordion-header .accordion-button {
  background-color: #fff9f5;
  color: black;
  font-size: 16px;
  font-weight: 700;
}
#sec3 .contenedor .divs .accordion .accordion-item .accordion-collapse .accordion-body {
  background-color: rgba(211, 211, 211, 0.5333333333);
}
#sec3 .contenedor .e .estudios {
  display: flex;
  flex-direction: none;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  padding: 10px;
  margin-top: 10px;
  background-color: rgba(211, 211, 211, 0.5333333333);
  border-radius: 10px;
}
#sec3 .contenedor .e .estudios h3 {
  color: black;
  font-size: 20px;
  margin-bottom: 0;
  font-weight: 700;
}
#sec3 .contenedor .e .estudios p {
  color: black;
  margin-bottom: 0;
  font-size: 15px;
}
#sec3 .contenedor .c .contacto {
  display: flex;
  flex-direction: none;
  justify-content: start;
  align-items: center;
  padding: 5px;
}
#sec3 .contenedor .c .contacto img {
  width: 40px;
  height: 40px;
}
#sec3 .contenedor .c .contacto h3 {
  color: black;
  font-size: 25px;
  margin-bottom: 0;
  padding-left: 10px;
}
#sec3 .contenedor .h .habilidades {
  display: flex;
  flex-direction: none;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 30px;
}
#sec3 .contenedor .h .habilidades img {
  width: 50px;
  height: 50px;
}
@media (min-width: 431px) and (max-width: 800px) {
  #sec3 .contenedor {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: none;
    gap: 20px;
  }
  #sec3 .contenedor .divs {
    width: 90%;
  }
  #sec3 .contenedor .divs h2 {
    text-align: center;
    font-size: 35px;
    margin: 0;
  }
  #sec3 .contenedor .divs p {
    font-size: 10px;
  }
  #sec3 .contenedor .divs .accordion {
    padding-top: 10px;
  }
  #sec3 .contenedor .divs .accordion .accordion-item .accordion-header .accordion-button {
    font-size: 15px;
  }
  #sec3 .contenedor .divs .accordion .accordion-item .accordion-collapse .accordion-body {
    font-size: 15px;
  }
  #sec3 .contenedor .e .estudios {
    display: flex;
    flex-direction: none;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
  }
  #sec3 .contenedor .e .estudios h3 {
    font-size: 15px;
    margin: 0;
  }
  #sec3 .contenedor .e .estudios p {
    margin: 0;
    font-size: 10px;
  }
  #sec3 .contenedor .c .contacto {
    padding: 5px;
  }
  #sec3 .contenedor .c .contacto img {
    width: 30px;
    height: 30px;
  }
  #sec3 .contenedor .c .contacto h3 {
    font-size: 15px;
    margin: 0;
    padding-left: 10px;
  }
  #sec3 .contenedor .h .habilidades {
    padding-top: 20px;
  }
  #sec3 .contenedor .h .habilidades img {
    width: 30px;
    height: 30px;
  }
}
@media (min-width: 320px) and (max-width: 430px) {
  #sec3 .contenedor {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: none;
    gap: 20px;
  }
  #sec3 .contenedor .divs {
    width: 90%;
  }
  #sec3 .contenedor .divs h2 {
    text-align: center;
    font-size: 35px;
    margin: 0;
  }
  #sec3 .contenedor .divs p {
    font-size: 10px;
  }
  #sec3 .contenedor .divs .accordion {
    padding-top: 10px;
  }
  #sec3 .contenedor .divs .accordion .accordion-item .accordion-header .accordion-button {
    font-size: 15px;
  }
  #sec3 .contenedor .divs .accordion .accordion-item .accordion-collapse .accordion-body {
    font-size: 15px;
  }
  #sec3 .contenedor .e .estudios {
    display: flex;
    flex-direction: none;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
  }
  #sec3 .contenedor .e .estudios h3 {
    font-size: 10px;
    margin: 0;
  }
  #sec3 .contenedor .e .estudios p {
    margin: 0;
    font-size: 8px;
  }
  #sec3 .contenedor .c .contacto {
    padding: 5px;
  }
  #sec3 .contenedor .c .contacto img {
    width: 30px;
    height: 30px;
  }
  #sec3 .contenedor .c .contacto h3 {
    font-size: 15px;
    margin: 0;
    padding-left: 10px;
  }
  #sec3 .contenedor .h .habilidades {
    padding-top: 20px;
  }
  #sec3 .contenedor .h .habilidades img {
    width: 30px;
    height: 30px;
  }
}

#sec4 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}
#sec4 h2 {
  color: black;
  align-self: flex-start;
  font-size: 90px;
  font-weight: 700;
  padding-left: 75px;
}
#sec4 .trabajos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "a b c d" "e f g h";
  gap: 20px;
}
#sec4 .trabajos .grid {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition-duration: 0.5s;
}
#sec4 .trabajos .grid:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.253);
}
#sec4 .trabajos .a {
  border: solid 0.2px #c2bdb8;
  border-radius: 20px;
  grid-area: a;
}
#sec4 .trabajos .b {
  border: solid 0.2px #c2bdb8;
  border-radius: 20px;
  grid-area: b;
}
#sec4 .trabajos .c {
  border: solid 0.2px #c2bdb8;
  border-radius: 20px;
  grid-area: c;
}
#sec4 .trabajos .d {
  border: solid 0.2px #c2bdb8;
  border-radius: 20px;
  grid-area: d;
}
#sec4 .trabajos .e {
  border: solid 0.2px #c2bdb8;
  border-radius: 20px;
  grid-area: e;
}
#sec4 .trabajos .f {
  border: solid 0.2px #c2bdb8;
  border-radius: 20px;
  grid-area: f;
}
#sec4 .trabajos .g {
  border: solid 0.2px #c2bdb8;
  border-radius: 20px;
  grid-area: g;
}
#sec4 .trabajos .h {
  border: solid 0.2px #c2bdb8;
  border-radius: 20px;
  grid-area: h;
}
@media (min-width: 431px) and (max-width: 800px) {
  #sec4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #sec4 h2 {
    font-size: 27px;
    padding-left: 10px;
    margin: 0;
  }
  #sec4 .trabajos {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 50px;
  }
  #sec4 .trabajos .grid {
    width: 90%;
  }
  #sec4 .trabajos .a a img {
    width: 300px;
    height: 190px;
  }
  #sec4 .trabajos .b a img {
    width: 300px;
    height: 190px;
  }
}
@media (min-width: 320px) and (max-width: 430px) {
  #sec4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #sec4 h2 {
    font-size: 27px;
    padding-left: 10px;
    margin: 0;
  }
  #sec4 .trabajos {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 50px;
  }
  #sec4 .trabajos .grid {
    width: 90%;
  }
  #sec4 .trabajos .a a img {
    width: 300px;
    height: 190px;
  }
  #sec4 .trabajos .b a img {
    width: 300px;
    height: 190px;
  }
}

/*# sourceMappingURL=estilos.css.map */
