@use "variables" as v;

.footer {
    height: 10vh;
    @include v.display (none, center, center);

    h2 {
        color: black;
        font-size: 25px;
        font-weight: normal;
    }

    @include v.tablet {
        h2 {
            font-size: 15px;
            margin: 0;
        }
    }

    @include v.celular {
        h2 {
            font-size: 11px;
            margin: 0;
        }
    }
}