@use "variables" as v;

.header {
    @include v.display (none, space-between, center);
    padding: 0px 150px;
    height: 5vh;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: v.$background;

    .menu {
        .btn-primary {
            background-color: v.$background;
            border: none;

            img {
                width: 25px;
                height: 25px;
            }
        }

        .offcanvas {

            .offcanvas-body {
                ul {
                    @include v.display(column, center, start);
                    list-style: none;
                    margin: 0;
                    padding-left: 30px;

                    li {
                        padding-top: 15px;
                        transition-duration: 0.5s;

                        &:hover {
                            transform: scale(1.1);
                        }

                        a {
                            text-decoration: none;
                            color: rgba(0, 0, 0, 0.582);
                            font-size: 25px;
                            font-weight: 600;
                            transition-duration: 0.5s;

                            &:hover {
                                color: black;
                            }
                        }
                    }
                }
            }
        }
    }

    .logo {
        font-size: 24px;
        font-weight: 600;
        color: black;
        text-decoration: none;
        transition-duration: 0.5s;

        &:hover {
            transform: scale(1.1);
        }
    }
}