@use "variables" as v;

.sec1 {
  height: 95vh;
  @include v.display (column, center, center);

  h1 {
    color: black;
    font-size: 300px;
    font-weight: 500;
    position: relative;
  }

  h2 {
    font-family: v.$fuente-secundaria;
    font-size: 40px;
    font-weight: 200;
    position: absolute;
    bottom: 230px;
    right: 290px;
  }

  @include v.tablet {
    h1 {
      font-size: 100px;
      position: relative;
      margin: 0;
    }

    h2 {
      font-size: 20px;
      position: absolute;
      bottom: 335px;
      right: 10px;
      margin: 0;
    }
  }

  @include v.celular {
    h1 {
      font-size: 70px;
      position: relative;
      margin: 0;
    }

    h2 {
      font-size: 15px;
      position: absolute;
      bottom: 340px;
      right: 10px;
      margin: 0;
    }
  }
}

#sec2 {
  @include v.display (none, space-around, center);
  height: 100vh;

  img {
    filter: grayscale(25%);
    border-radius: 20px;
    width: 530px;
    height: 700px;
  }

  div {
    width: 50%;

    h2 {
      color: black;
      font-size: 80px;
      font-weight: 500;
    }

    p {
      color: black;
      font-size: 35px;
      font-weight: 200;
    }
  }

  @include v.tablet {
    @include v.display (column, center, center);

    img {
      width: 300px;
      height: 400px;
    }

    div {
      padding-top: 20px;
      width: 90%;

      h2 {
        font-size: 30px;
        font-weight: 700;
        margin: 0;
      }

      p {
        padding-top: 10px;
        font-size: 16px;
        margin: 0
      }
    }
  }

  @include v.celular {
    @include v.display (column, center, center);

    img {
      width: 300px;
      height: 400px;
    }

    div {
      padding-top: 20px;
      width: 90%;

      h2 {
        font-size: 30px;
        font-weight: 700;
        margin: 0;
      }

      p {
        padding-top: 5px;
        font-size: 16px;
        margin: 0
      }
    }
  }
}

#sec3 {
  @include v.display(none, center, center);
  height: 100vh;

  .contenedor {
    @include v.display(none, center, none);
    flex-wrap: wrap;
    gap: 40px;

    .divs {
      width: 40%;

      h2 {
        color: black;
        font-size: 60px;
        font-weight: 800;
      }

      p {
        color: black;
        font-size: 25px;
      }

      .accordion {
        .accordion-item {
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.253);
          margin-top: 10px;

          .accordion-header {

            .accordion-button {
              background-color: v.$background;
              color: black;
              font-size: 16px;
              font-weight: 700;
            }
          }

          .accordion-collapse {
            .accordion-body {
              background-color: #d3d3d388;
            }
          }
        }
      }
    }

    .e {
      .estudios {
        @include v.display(none, space-between, center);
        width: 95%;
        padding: 10px;
        margin-top: 10px;
        background-color: #d3d3d388;
        border-radius: 10px;

        h3 {
          color: black;
          font-size: 20px;
          margin-bottom: 0;
          font-weight: 700;
        }

        p {
          color: black;
          margin-bottom: 0;
          font-size: 15px;
        }
      }
    }

    .c {
      .contacto {
        @include v.display(none, start, center);
        padding: 5px;

        img {
          width: 40px;
          height: 40px;
        }

        h3 {
          color: black;
          font-size: 25px;
          margin-bottom: 0;
          padding-left: 10px;
        }
      }
    }

    .h {
      .habilidades {
        @include v.display(none, space-evenly, center);
        padding-top: 30px;

        img {
          width: 50px;
          height: 50px;
        }
      }
    }
  }

  @include v.tablet {
    .contenedor {
      @include v.display(column, space-evenly, center);
      flex-wrap: none;
      gap: 20px;

      .divs {
        width: 90%;

        h2 {
          text-align: center;
          font-size: 35px;
          margin: 0;
        }

        p {
          font-size: 10px;
        }

        .accordion {
          padding-top: 10px;

          .accordion-item {
            .accordion-header {
              .accordion-button {
                font-size: 15px;
              }
            }

            .accordion-collapse {
              .accordion-body {
                font-size: 15px
              }
            }
          }
        }
      }

      .e {
        .estudios {
          @include v.display(none, space-between, center);
          width: 100%;
          padding: 5px;
          border-radius: 5px;

          h3 {
            font-size: 15px;
            margin: 0;
          }

          p {
            margin: 0;
            font-size: 10px;
          }
        }
      }

      .c {
        .contacto {
          padding: 5px;

          img {
            width: 30px;
            height: 30px;
          }

          h3 {
            font-size: 15px;
            margin: 0;
            padding-left: 10px;
          }
        }
      }

      .h {
        .habilidades {
          padding-top: 20px;

          img {
            width: 30px;
            height: 30px;
          }
        }
      }
    }
  }

  @include v.celular {
    .contenedor {
      @include v.display(column, space-evenly, center);
      flex-wrap: none;
      gap: 20px;

      .divs {
        width: 90%;

        h2 {
          text-align: center;
          font-size: 35px;
          margin: 0;
        }

        p {
          font-size: 10px;
        }

        .accordion {
          padding-top: 10px;

          .accordion-item {
            .accordion-header {
              .accordion-button {
                font-size: 15px;
              }
            }

            .accordion-collapse {
              .accordion-body {
                font-size: 15px
              }
            }
          }
        }
      }

      .e {
        .estudios {
          @include v.display(none, space-between, center);
          width: 100%;
          padding: 5px;
          border-radius: 5px;

          h3 {
            font-size: 10px;
            margin: 0;
          }

          p {
            margin: 0;
            font-size: 8px;
          }
        }
      }

      .c {
        .contacto {
          padding: 5px;

          img {
            width: 30px;
            height: 30px;
          }

          h3 {
            font-size: 15px;
            margin: 0;
            padding-left: 10px;
          }
        }
      }

      .h {
        .habilidades {
          padding-top: 20px;

          img {
            width: 30px;
            height: 30px;
          }
        }
      }
    }
  }
}

#sec4 {
  @include v.display(column, space-around, center);
  height: 100vh;

  h2 {
    color: black;
    align-self: flex-start;
    font-size: 90px;
    font-weight: 700;
    padding-left: 75px;
  }

  .trabajos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
      "a b c d"
      "e f g h"
    ;
    gap: 20px;

    .grid {
      @include v.display(column, space-between, center);
      transition-duration: 0.5s;

      &:hover {
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.253);
      }
    }

    .a {
      border: solid 0.2px #c2bdb8;
      border-radius: 20px;
      grid-area: a;
      @extend %trabajos;
    }

    .b {
      border: solid 0.2px #c2bdb8;
      border-radius: 20px;
      grid-area: b;
      @extend %trabajos;
    }

    .c {
      border: solid 0.2px #c2bdb8;
      border-radius: 20px;
      grid-area: c;
      @extend %trabajos;
    }

    .d {
      border: solid 0.2px #c2bdb8;
      border-radius: 20px;
      grid-area: d;
      @extend %trabajos;
    }

    .e {
      border: solid 0.2px #c2bdb8;
      border-radius: 20px;
      grid-area: e;
      @extend %trabajos;
    }

    .f {
      border: solid 0.2px #c2bdb8;
      border-radius: 20px;
      grid-area: f;
      @extend %trabajos;
    }

    .g {
      border: solid 0.2px #c2bdb8;
      border-radius: 20px;
      grid-area: g;
      @extend %trabajos;
    }

    .h {
      border: solid 0.2px #c2bdb8;
      border-radius: 20px;
      grid-area: h;
      @extend %trabajos;
    }
  }

  @include v.tablet {
    @include v.display(column, center, center);

    h2 {
      font-size: 27px;
      padding-left: 10px;
      margin: 0;
    }

    .trabajos {
      @include v.display (column, space-evenly, center);
      padding-top: 50px;

      .grid {
        width: 90%;
      }

      .a {
        a {
          img {
            width: 300px;
            height: 190px;
          }
        }
      }

      .b {
        a {
          img {
            width: 300px;
            height: 190px;
          }
        }
      }
    }
  }

  @include v.celular {
    @include v.display(column, center, center);

    h2 {
      font-size: 27px;
      padding-left: 10px;
      margin: 0;
    }

    .trabajos {
      @include v.display (column, space-evenly, center);
      padding-top: 50px;

      .grid {
        width: 90%;
      }

      .a {
        a {
          img {
            width: 300px;
            height: 190px;
          }
        }
      }

      .b {
        a {
          img {
            width: 300px;
            height: 190px;
          }
        }
      }
    }
  }
}