@import url('https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap');


$fuente-principal: "Elms Sans", sans-serif;
$fuente-secundaria: "Playwrite CU";
$background: #fff9f5;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $fuente-principal;
  background-color: $background;
}

// MIXINS

@mixin display($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

// MIXINS RESPONSIVE

@mixin tablet {
  @media (min-width: 431px) and (max-width: 800px) {
    @content;
  }
}

@mixin celular {
  @media (min-width: 320px) and (max-width: 430px) {
    @content;
  }
}

// EXTENDS

%trabajos {
  a {
        img {
          width: 390px;
          height: 270px;
          transition-duration: 0.5s;
        }

        :hover {
          transform: scale(1.1);
        }
      }

      h3 {
        color: black;
        text-align: center;
      }
}